@use "../../../assets/styles/global";

:host {
  --mdc-icon-button-size: 24px;
  --mdc-icon-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p.project {
    grid-column: 1;
  }

  p.text {
    grid-column: 2;
  }

  div.progress {
    grid-column: 3;

    .quick-actions {
      opacity: 0;
      transition: opacity 100ms ease;
      &:hover {
        opacity: 1;
      }
    }
  }

  .add-button, .add-input {
    grid-column: 2;
  }
}
