@use "../../../assets/styles/global";

:host {
  --mdc-icon-button-size: 24px;
  --mdc-icon-size: 18px;
}

@mixin hover-show() {
  opacity: 0;
  transition: opacity 100ms ease;
  &:hover {
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
  gap: 12px;

  p.project {
    grid-column: 1;
  }

  p.text {
    grid-column: 2;
  }

  div.progress {
    grid-column: 3;

    .quick-actions {
      @include hover-show();
    }
  }

  & > * {
    height: 18px;
  }

  .add-button, .add-input {
    grid-column: 2;
  }

  .add-button {
    @include hover-show();
  }

  .add-input {
    background: none;
    font-size: 16px;
  }
}
