:host {
  --mdc-icon-button-size: 24px;
  --mdc-icon-size: 18px;
}

@mixin hover-show() {
  opacity: 0;
  transition: opacity 100ms ease;
  &:hover {
    opacity: 0.6;
  }
}

.container {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
  gap: 12px;

  & > .project {
    grid-column: 1;
    margin-right: 16px;
    width: max-content;
  }

  & > .text {
    grid-column: 2;

    &.sub {
      margin-left: 16px;
    }
  }

  & > .progress {
    grid-column: 3;
  }

  & > * {
    height: 18px;
  }

  & > add-button {
    grid-column: 2;
    width: 100%;
  }
}
