:host {
  --mdc-icon-button-size: 24px;
  --mdc-icon-size: 18px;
}

.container {
  display: grid;
  width: 100%;

  grid-template-columns: auto 60px fit-content(100%) fit-content(100%);
  gap: 12px;

  .header {
    &-name { grid-column: 1; }
    &-milestones { grid-column: 3; }
    &-due { grid-column: 4; }
  }

  & > .text {
    position: relative;
    grid-column: 1;

    &.sub {
      margin-left: 20px;

      &::before {
        content: "remove";
        font-family: "Material Icons Round", sans-serif;
        color: var(--mdc-theme-on-surface);

        position: absolute;
        left: -20px;
        opacity: 0.4;
      }
    }
  }

  & > .progress {
    grid-column: 3;
  }
}
