:host {
  --mdc-icon-button-size: 24px;
  --mdc-icon-size: 18px;
}

@mixin hover-show($max-opacity) {
  opacity: 0;
  transition: opacity 100ms ease;
  &:hover {
    opacity: $max-opacity;
  }
}

mwc-button-small {
  @include hover-show(1);
  width: 100%;
}

mwc-icon-button {
  @include hover-show(0.6);
}

:host([nohide]) {
  mwc-button-small, mwc-icon-button {
    opacity: 1 !important;
  }
}

input {
  background: none;
  font-size: 16px;
  width: 100%;
}
