@import "./reset.lit";
@import "./theming.lit";

:host {
  box-sizing: border-box;
  line-height: 100%;
}

.badge-styling {
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    border-radius: 6px;

    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -8px;
    right: -8px;
  }

  &:hover:before {
    background: var(--md-sys-color-on-surface-variant);
    opacity: 0.1;
  }
}

a {
  text-decoration: none;
}

.material-icons {
  font-family: "Material Icons Round", sans-serif;
  pointer-events: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

p, h1, h2, h3, h4, h5, h6, a, input {
  font-family: "Noto Sans Display", sans-serif;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "Gropled", serif;
  font-size: 72px;
}

h3 {
  font-family: "Gropled", serif;
  font-size: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
