:root, :host {
    --mdc-theme-primary: #944b00;
    --mdc-theme-secondary: #755945;
    --mdc-theme-surface: #fcfcfc;
    --mdc-theme-background: #fcfcfc;
    --mdc-theme-outline: #84746a1F;

    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
    --mdc-theme-on-surface: #201a17;

    --mdc-shape-small: 16px;
    --mdc-shape-medium: 16px;
    --mdc-shape-large: 0px;

    --mdc-typography-font-family: "Noto Sans Display";
    --mdc-typography-button-line-height: 100%;

    --mdc-list-item-graphic-margin: 16px;
}
