.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > * {
    width: calc(100% - 56px);

    &:not(:last-child) {
      margin-right: 56px;
    }
  }
}

.flex.col.gap > *:not(:last-child) {
  margin-bottom: 32px !important;
}

#active-task-card {
  width: fit-content;
  min-width: calc(50% - (56px / 2));
}
