#drawer-content {
  padding-left: 12px;
  padding-right: 12px;

  background-color: var(--md-sys-color-surface);

  & > * {
    width: 100%;
    height: 56px;

    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 28px;

    color: var(--md-sys-color-on-surface);

    &.active {
      background-color: var(--md-sys-color-primary-container);

      & > * {
        color: var(--md-sys-color-on-primary-container) !important;
      }
    }

    &:last-child {
      margin-bottom: 28px;
    }

    span {
      font-size: 24px;
      margin-right: 12px;
    }
  }
}

#title-text {
  font-family: "Gropled", serif;
  font-size: 20px;
}

#app-content {
  padding-left: 56px;
  padding-right: 56px;
}
