.pending-checkbox {
    margin-right: 12px;
}

.progress-checkboxes {
    margin-left: 12px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.sub *:not(.material-icons) {
    font-size: 14px;
    line-height: 20px;
}

.material-icons {
    font-size: 18px;
}

.cell {
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        border-radius: 6px;

        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -8px;
        right: -8px;
    }

    &:hover:before {
        background: var(--md-sys-color-on-surface-variant);
        opacity: 0.1;
    }
}
