@import "./reset";
@import "./theming";

:host {
  box-sizing: border-box;
  line-height: 100%;
}

@font-face {
  font-family: "Gropled";
  src: url("../fonts/Gropled-Bold.otf") format("otf");
}

a {
  text-decoration: none;
  color: #000;
}

.material-icons {
  font-family: "Material Icons", sans-serif;
}

p, h1, h2, h3, h4, h5, h6, a, input {
  color: var(--mdc-theme-on-surface);
  font-family: "Noto Sans Display", sans-serif;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: "Gropled", serif;
  font-size: 72px;
}

h3 {
  font-family: "Gropled", serif;
  font-size: 36px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
