@import "./reset";

:host {
  box-sizing: border-box;
}

h4, h6, p {
  font-family: Roboto, sans-serif;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
