@import "./reset";
@import "./theming";

:host {
  box-sizing: border-box;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

h3, h4, h6, p, input {
  font-family: "Noto Sans Display", sans-serif;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
